.Clientes {
}

.Clientes h2 {
    display: flex;
    justify-content: space-between;
}

.Clientes tr td.record-tools {
    display: flex;
    justify-content: flex-end;
}


.Clientes tr td.record-tools button {
    margin-right: 1em;
}

.Clientes tr td.record-tools button:last-child {
    margin-right: 0;
}